<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RenderX - The Revolutionary</title>
    <link rel="stylesheet" href="landingPage.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="icon.png" alt="logo">
            <span class="logo-text">RenderX</span>
        </div>
        
        <nav>
            <a href="/">Home</a>
            <a href="/login">LogIn</a>
            <a href="/support">Support</a>
        </nav>
        <div class="header-buttons">
            <a href="/register"><button class="signup">Sign Up</button></a>    
            <a href="/payment"><button class="cta">Start free trial</button></a>
        </div>
    </header>

    <section class="hero">
        <h1>Convert Art to Reality - Instantly!</h1>
        <p>Unleash creativity with our advanced AI—seamlessly switch between sketches and high-quality images.</p>
        <button class="cta" onclick="window.location.href='../payment/index.html'">Start free 14 days trial</button>
        <p class="no-card">No credit card required</p>
    </section>

    <section class="dashboard">
        <img src="landingPageImage.png" alt="Dashboard Preview">
    </section>
</body>
</html>